*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: #102C03;
  background: #ffffff;
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family: 'Hind Vadodara', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  /* margin: 2rem 0px; */
  width: 100%;
}
/* font-family: 'Playfair Display', serif; */
h1 {
  font-size: 80px !important;
  line-height: 1;
  color: #102C03;
}
button {
  height: fit-content;
  width: fit-content;
  border-radius: 4px;
  padding: 12px 24px !important;
  background-color: #102C03 !important;
  color: white !important;
  font-weight: 600 !important;
}

